[Unit]
Description=docker {{ docker_container_name }} ({{ docker_container_image }})
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm --restart {{ docker_container_restart_policy }} --publish {{ docker_container_ports }} --name {{ docker_container_name }} {{ docker_container_image }} {{ docker_container_command }}
ExecStop=/usr/bin/docker stop {{ docker_container_name }}

[Install]
WantedBy=multi-user.target